<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="bootstrap-3.3.5/favicon.ico">

    <title>Guitarra Agustín</title>

    <!-- Bootstrap core CSS -->
    <link href="bootstrap-3.3.5/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="cover.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>



    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">Clases de Guitarra Criolla, Acústica, Eléctrica</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li class="active"><a href="#">Home</a></li>
                  <li><a href="#">Features</a></li>
                  <li><a href="#">Contact</a></li>
                </ul>
              </nav>
            </div>
          </div>

          <div class="inner cover">
            <h1 class="cover-heading">Aprende a tocar la guitarra!!!</h1>
            <p class="lead">
              Clases de <bold>Guitarra</bold> para todos los niveles. Técnicas variadas para todos los estilos.
            </p>
            <p>
              Técnica , Lectura, Improvisación , Acordes, Acompañamientos, Solos
            </p>
            <p>
              Guitarra en música Popular (Tango, Jazz, Folklore, Rock)
            </p>
            <p>
              Guitarra Solista (Clásica de Concierto) Métodos , Partituras, Pistas
              Manejo de Programas en PC para la práctica. Ingreso a consevartorios
            </p>
            <p class="lead">
              <a href="#" class="btn btn-lg btn-default">Learn more</a>
            </p>
          </div>


<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3905.2025849053243!2d-58.479315413980814!3d-34.60742461992805!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcc9e23b3dcff3%3A0x13da2219e73ee92!2sBolivia+2238%2C+C1416ANZ+CABA!5e0!3m2!1ses!2sar!4v1436379593366" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
          <div class="mastfoot">
            <div class="inner">
              <p>Cover template for <a href="http://getbootstrap.com">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
            </div>
          </div>

        </div>

      </div>

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="bootstrap-3.3.5/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
